<html>
{% extends 'appli/general/base.html' %}
{% load appli_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block general %}
<script src="{% static '/appli/asset.js' %}"></script>
{% show_menu_asset menubt %}

<div class='col-10'>
    <h2> {{title}}</h2>

              <!-- bloc  ajouter-->
    <div >
      <form   id='form' method="post" >{% csrf_token %}
        <div class='partform'>
            {% crispy form  %}
        </div>
        <input id="submit" type="submit" name="submit" value="Valider" class='btn btn-primary'>
      </form>
    </div>
</div>

</div>


{% endblock %}
