{% load crispy_forms_tags %}
{% load static %}

<!-- Bootstrap JS -->
<script src="{% static 'ihm/css/bootstrap/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
<!-- block  list-->
<div id="div_assetlist" class=''>
  <!-- balise for response to an delete action-->
  <div id="response" class="alert alert-success" role="alert" style='display:none'>
  </div>

  <!-- table of elements -->
  <table
     id="tbl_asset"
     class= "table table-hover table-bordered table-responsive[-sm|-md|-lg|-xl]"
     data-url = {{url}}
     data-unique-id = 'id'
     data-pagination = 'true'
     data-search = 'true'
     data-buttons-toolbar=".buttons-toolbar"
     >
     <thead>
       <tr >
            <th
                 id="tableDefaultCheck_{{type}}"
                 data-checkbox="true"
                 data-show-select-title="true">

            </th>
             <th
                 data-field='label'
                 data-sortable='true'>
                 Libellé</th>
             <th
                 data-field='host_name'
                 data-sortable='true' >
                 Hostname</th>


             <th
                 data-field='login'
                 data-sortable='true' >
                 Login</th>
              {% if type == '1'%}
            <th
                data-field='sgbd'
                data-sortable='true' >
                SGBD</th>
              {% endif%}
           </tr>
      </thead>
     </table>
</div> <!-- end block  list-->


<script type="text/javascript">
    $(document).ready(function(){
      // initiate table datas
        $('#tbl_asset').bootstrapTable()
    });
</script>
