{% load crispy_forms_tags %}

<!-- Bootstrap JS -->
<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
<!-- block  list-->
<div id="div_assetlist" class=''>
  <!-- balise for response to an delete action-->
  <div id="response" class="alert alert-success" role="alert" style='display:none'>
  </div>
       <!-- table of asset category -->
       <div class="row">
         <div class="col-10">
           <h2 class="text-center" > {{title|title}} </h2>
         </div>
           <div id= "div_btAdd" class="col-2 d-flex justify-content-end">
             <button
                 id="btn_add"
                 type="button"
                 class="pull-right btn btn-light"
                 data-bs-toggle="offcanvas"
                 data-bs-target="#div_assetfunctions"
                 aria-controls="div_assetfunctions">
                 <i class="bi bi-plus-square-fill">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                   <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                   </svg></i>
               </button>
           </div>
           </div>
       <table
          id={{lib}}
          class= "table table-hover table-bordered table-responsive[-sm|-md|-lg|-xl]"
          data-url = {{urlasset}}
          data-unique-id = 'id'
          data-pagination = 'true'
          data-search = 'true'
          data-buttons-toolbar=".buttons-toolbar"
          >
          <thead>
            <tr >
              <th
                data-field=update
                data-sortable='true'>
              </th>
              {%for field in fields%}
                {%for name,libelle in field.items%}
                  <th
                      data-field={{name}}
                      data-sortable='true'>
                      {{libelle}}</th>
                {%endfor%}
              {%endfor%}
                </tr>
           </thead>
          </table>

</div> <!-- end block  list-->


<script type="text/javascript">
    $(document).ready(function(){
      // initiate table datas
        $('#{{lib}}').bootstrapTable()
    });
</script>
