<!DOCTYPE html>
<html>
{% extends 'base_staffingrules.html' %}
{% load appli_tags %}
{% load static %}
{% load crispy_forms_tags %}


{% block general %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="row">
  <div class="col-10">
    <h1 class="text-center" > Règles de dotation </h1>
  </div>
    <div id= "div_btAdd" class="col-2 d-flex justify-content-end">
      <button
          id="btn_add"
          type="button"
          class="pull-right btn btn-light"
          data-bs-toggle="offcanvas"
          data-bs-target="#div_assetfunctions"
          aria-controls="div_assetfunctions">
          <i class="bi bi-plus-square-fill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
            </svg></i>
        </button>
    </div>
<!-- onglets -->
<ul class="nav nav-tabs">


</ul> <!-- end onglets -->

 <!-- corps de l'application -->
 <div name="general" style = "min-height:620px;height:auto;">

<div class="tab-content" id="v-pills-tabContent">

    <!-- bloc  datas-->
    <div class="d-flex justify-content-center">
        <!-- toolbar -->
        <div id="tbl_asset_toolbar" class="buttons-toolbar ">
        </div>
        <!-- button for adding an element -->

    </div>
    <div id="allStaffingrules">
      {% show_staffingrules_list  'Toutes les règles' %}

  </div>




</div> <!-- end content for asset -->

<!-- panel  functionnalities (add)-->
<div
    id="div_assetfunctions"
    class='offcanvas offcanvas-end'
    tabindex="-1"
    aria-labelledby="offcanvasRightLabel">
  <!-- add an element -->
  <div id="div_assetadd" >
    <div class="offcanvas-header">
        <h2 class='h6' id="offcanvasRightLabel"><strong> Ajouter un élément </strong></h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- block form -->
    <div class="offcanvas-body">
        <form   id='form'  method="post" >
            <div class='partform'>
              {% crispy form  %}
            </div>
            <input id="submit" type="submit" name="submit" value="Valider" class='btn btn-primary'>
        </form>
    </div>
  </div> <!-- end add an element -->
</div> <!-- end panel  functionnalities (add)-->

<!-- specific js -->


{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
